body {
  margin: 0;
}

.container{
  text-align: center;
}

.flex{
  display: flex;
}

.app {
  width: 700px;
  flex-direction: column;
}

.content{
  margin: 40px 60px;
  justify-content: space-around;
}

.some-math{
  margin-top: 100px;
}

.display {
  background-color: #858594;
  height: 100px;
  color: #fff;
  font-weight: bold;
  padding: 20px;
  justify-content: flex-end;
  align-items: center;
  font-size: 70px;
}

.button-panel {
  flex-direction: column;
  width: 100%;
}

.group {
  height: 100px;
}

.button-panel .button {
  color: #000;
  height: 100px;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}

.button-color {
  background-color: #adbac7;
}

.button-color-right {
  background-color: #f5913f;
}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.nav-wrapper{
  padding: 20px 50px;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  color: blue;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #111;
}
